@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    color: #3B484A;
}


header {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #333E40;
    box-shadow: 0px 0 38px -26px rgba(0, 0, 0, 0.75);
  }

  .navbar{
    display: flex;
    justify-content: space-between;
  }



  header nav ul {      
    display: flex;
    margin: 0px;
    align-items: center;
  }
  
  .nav-list-item {    
    list-style: none;
    margin: 0 10px;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;   
    border-radius: 10px; 
  }

  .nav-list-item:hover{
        background-color: #FFCE1C;
  }

  .nav-list-item a{      
    color: #333E40;
    text-decoration: none;
    font-weight: bold;
  }

  .logo{
      display: flex;
      justify-content: space-between;
      justify-items: stretch;
      margin-right: 100px;
  }

  .logo a{
    display: flex;
  }

  .logo a>img{
      width: 60px;
      height: 60px;
      margin-right: 10px;
  }

  .logo a{
    text-decoration: none;
    color: #333E40; 
  }

  .logo a>h1{ 
    font-size: 2rem;
    text-decoration: none;
    align-self: center;
    margin: 0;
  }

  .search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
      height: 200px;
      /* background-image: url("./images/honey-comb-pattern.jpg"); */
      background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.8)), url("./images/honey-comb-pattern.jpg");
      background-size: cover;
      padding:  20px ;
      display: flex;
      align-items: center;
  }

  .search h2{
      font-style: italic;
      color: #FF9100;
      font-weight: bolder;
      
  }

  .search-container{     
      justify-content: space-between;  
      width: 90%;    
      background-color: #FFCE1C;
      opacity: 0.8;
      margin: 0px auto;
      padding: 5px;
  }

.search-button {
    background: #FF9100;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 3px 19px;
    margin-left: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .search-button i{
      margin-right: 10px;
  }

  .search-button:hover {
    color: white;
  }

  .search-form{
    display: flex;
    padding: 5px;
    margin: 4px auto;
    text-align: center;
}



  .background-img{
      max-width: 1rem;
      height: 10%;   
  }

  .background-img img{
    height: 400px;
    opacity: 0.1;
    position: relative;
    left: -70px;
    bottom: -70px;
  }

  .user-forms{
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      margin: 20px auto;
      padding: 15px 5%;
  }

  .user-form{
    position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      flex-basis: 40%;
      border-radius: 10px;
      box-shadow: 0px 0 38px -26px rgba(0, 0, 0, 0.75);
      margin: 0px 30px;
      padding: 10px;
  }

  .user-form img{
      max-width: 40%;
      background-color: white;
      padding: 10%;
  }

.user-form button{
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 60px;
    margin: 20px 0px;
    border: none;
    font-weight: bold;
}

.flower-btn{
    background-color: #FFCE1C;
}

.flower-btn:hover{
    background-color: #ffe999;
}

.flower-form{
    border-top:5px solid #FFCE1C;
}

.bee-form{
    border-top: 5px solid #FF9100;
}

.bee-btn{
    background-color: #FF9100;
}

.bee-btn:hover{
    background-color: #ffd399;
}

form{
    display: flex;
    width: 90%;
    align-items: center;
}

.form-container{
    align-self: center;
}


input{
    width: 85%;
    background: transparent;
    border: none;
    outline: none;
}

.line-box {
    position: relative;
    width: 90%;
    height: 2px;
    background: #BCBCBC;
    margin: 10px auto;
  }
  
.about{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 5%;
    margin: 10px auto;
}

.about article{
    margin: 20px 40px;
}

.about article img{
    max-width: 100px;
    align-self: center;
}

.job-postings{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: space-between;
    width: 90%;
    margin: 30px auto;
    padding: 10px;
}

.job-postings table{
    margin: 20px 0px;
}

.job-postings table>tbody>tr:hover{
    background-color: #ffe999;
}

.job-postings button{
    width: 30%;
}

footer{
    background-color: #333E40;
    color: lightgray;
    min-height: 50px;
    padding: 20px;
}
footer p{
    margin-top: 10;    
    text-align: center;
}

/* Login Form  */
